<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byType">

    <!--根据类型注入,与名字没有关系-->
    <bean id="dao1" class="csc.lzp.xmlspring.dao.Impl.UserDaoImpl1"></bean>
    <bean id="dao2" class="csc.lzp.xmlspring.dao.Impl.UserDaoImpl2"></bean>

    <bean id="service" class="csc.lzp.xmlspring.service.Impl.UserServiceImpl"></bean>

</beans>